.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.alert {
  word-break: break-word;
}

.border-boxed {
  border: 9px solid indianred;
}

.mw-fit-content {
  max-width: fit-content;
}

.acronym-wrapper {
  font-size: 24px;
}


.lw-font {
  font-weight: 200 !important;
}

.grey-blockquote {
  background: lightslategrey;
  padding: 15px;
}

.green-blockquote {
  background: lightgreen;
  padding: 15px;
}

.yellow-blockquote {
  background: goldenrod;
  padding: 15px;
}

.purple-blockquote {
  background: violet;
  padding: 15px;
}

.framed-yellow {
  padding: 15px;
  background: yellow;
  border: 1px solid goldenrod;
  box-shadow: 7px 7px darkgoldenrod;

}

.framed-blue {
  padding: 15px;
  background: lightblue;
  border: 1px solid blue;
  box-shadow: 7px 7px blue;
}

.framed-green {
  padding: 15px;
  background: lightgreen;
  border: 1px solid green;
  box-shadow: 7px 7px green;
}

.framed-red {
  padding: 15px;
  background: lightsalmon;
  border: 1px solid red;
  box-shadow: 7px 7px red;
}

ul li {
 font-weight: bold;
}

ol li {
  font-weight: bold;
}


